
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--background);
  font-family: Poppins, sans-serif;
  color: var(--text);
  transition: background .4s ease;
  overflow-x: hidden;
}



:root {
  --primary: #0F766E;
  --primary-light: #14B8A6;
  --primary-soft: #99F6E4;

  --background: #F6F7F9;
  --surface: #FFFFFF;
  --text: #1E293B;
  --shadow: 0 4px 14px rgba(0, 0, 0, 0.10);
  --heading: #0F172A;
}

   
.he-theme {
  --primary: #3A86FF;
  --primary-light: #A8C9FF;
  --primary-soft: #E6F1FF;

  --background: #F5FAFF;
  --surface: #FFFFFF;
  --text: #10243A;
  --heading: #0A1E33;
  --shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}


.she-theme {
   --primary: #B669FF;
  --primary-light: #DDB6FF;
  --primary-soft: #F5E9FF;

  --background: #FCF7FF;
  --surface: #FFFFFF;
  --text: #3C1B5B;
  --heading: #4A0F6E;
  --shadow: 0 4px 14px rgba(0, 0, 0, 0.08);

}



nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 2%;
  top: 0;
  z-index: 10;
  background-color: var(--primary-light);
}

.nav_first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1%;
}

.nav_first ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  gap: 90px;
  list-style: none;
  text-decoration: none;
}

.nav_first ul li a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.nav_first ul li a:hover {
  color: var(--primary);
  transition: 0.3s;
}

.brandname img {
  width: 150px;
  height: 150px;
  margin-right: 8px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15%;
  margin: 2%;
}

.icons ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
}

.icons ul li {
  list-style: none;
}

.icons button {
  margin: 2%;
  padding: 1%;
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  color: black;
  transition: 0.3s;
}

.icons button:hover {
  color: var(--primary);
}

.menu-toggle {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  align-self: self-end;
  color: black;
}

@media (max-width: 768px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 15px 10px;
    flex-wrap: wrap;
  }

  .menu-toggle {
    display: block;
    font-size: 24px;
    color: black;
    cursor: pointer;
  }

  .brandname img {
    width: 80px;
    height: 80px;
    margin: 0;
  }

  /* nav responcev */
  .nav_first {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: var(--primary-soft);
    padding: 15px 0;
    display: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-top: 2px solid var(--primary);
  }

  .icons {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--primary-soft);
    padding: 15px 0;
    display: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-top: 2px solid var(--primary);
  }

  .nav_first ul {
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: 100%;
  }

  .nav_first ul li a {
    padding: 10px 15px;
    display: block;
    text-align: center;
  }

  .icons ul {
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: 100%;
  }

  .icons ul li,
  .icons ul a {
    width: 100%;
    text-align: center;
  }

  .icons ul a {
    display: flex;
    justify-content: center;
  }

  .icons button {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
  }

  .nav_first.active {
    display: block;
  }

  .icons.active {
    display: block;
  }
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  top: 10%;
  background-color: var(--background);
}

.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
  width: 100%;
  background-size: cover;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: var(--shadow);
}


@media (min-width: 768px) {
  .top {
    height: 70vh;
  }
}



.main-img img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;


}

.main-img {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-img::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 23, 17, 0.301);
}


.text-overlay {
  position: absolute;
  top: 20%;
  text-align: center;
  width: 90%;
  color: white;
  font-size: 26px;
  font-weight: 700;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.category {
  display: flex;
  justify-content: center;
  padding: 20px 5%;
  gap: 20px;
  margin-bottom: 25px;
}

.category button {
  padding: 12px 24px;
  border-radius: 50px;
  background-color: var(--primary);
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.category button:hover {
  background-color: var(--primary-light);
}

.theme-bubble {
  animation: bubble 0.4s ease;
}

@keyframes bubble {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}

#all-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  overflow-x: hidden;
}

.p-heding {
  color: var(--primary);
  background: var(--surface);
  padding: 15px;
  box-shadow: var(--shadow);
  border-radius: 20px;
  width: 90%;
  max-width: 500px;
  font-size: 25px;
  text-align: center;
  margin: 20px auto;
}

#Trending-pro {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 25px 5%;
  box-sizing: border-box;

}


#Most-selled {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 25px 5%;
  box-sizing: border-box;
}



.card {
  background: var(--surface);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;
  transition: 0.25s;
  cursor: pointer;

  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 15PX;
  height: 200px;
  transition: 0.3s;
}




.card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.card-body {
  padding: 15px;
  text-align: center;
}

.title {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 4px;
}

.price {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary);
}

.card h1 {
  font-size: 12px;
  font-weight: 20000;
  color: var(--primary-light);
}

.description {
  font-size: 12px;
  color: var(--text-muted);
}

.Top button {
  position: sticky;
  left: 15px;
  bottom: 25px;
  background-color: var(--background);
  padding: 10px;
  border: none;
  border-radius: 15px;
  box-shadow: var(--shadow);


}




.Top {
  color: var(--primary);
  text-decoration: none;
   background-color: var(--primary);
}

.show-more-btn {
  grid-column: 1 / -1;
  padding: 12px 30px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  margin-left: 80px;
}

.show-more-btn:hover {
  background-color: var(--primary-light);
  transform: scale(1.05);
}










footer {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2%;
  color: rgb(19, 18, 18);
  background-color: var(--primary-light);
  font-weight: bold;
}

.ftr-first {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2%;
}



@media (min-width: 768px) {
  .ftr-first {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }

  .contact {
    text-align: start;
  }

  .loction {
    text-align: end;

  }
}
