/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--background);
  font-family: Poppins, sans-serif;
  color: var(--text);
  transition: background .4s ease;
}


/* DEFAULT THEME (HE) */
:root {
  --primary: #0F766E;
  --primary-light: #14B8A6;
  --primary-soft: #99F6E4;

  --background: #F6F7F9;
  --surface: #FFFFFF;
  --text: #1E293B;
  --shadow: 0 4px 14px rgba(0, 0, 0, 0.10);
  --heading: #0F172A;
}

   /* HE THEME (Default) */
   
.he-theme {
  --primary: #1E3A8A;
  --primary-light: #3B82F6;
  --primary-soft: #DBEAFE;

  --background: #F3F4F6;
  --surface: #FFFFFF;
  --text: #111827;
  --shadow: 0 4px 14px rgba(0, 0, 0, 0.10);
  --heading: #0F172A;
}

/* ===========================
   SHE THEME (Soft Purple)
=========================== */
.she-theme {
  --primary: #9333EA;
  --primary-light: #C084FC;
  --primary-soft: #F3E8FF;

  --background: #FDF4FF;
  --surface: #FFFFFF;
  --text: #3B0764;
  --heading: #5B21B6;
  --shadow: 0 4px 14px rgba(0, 0, 0, 0.10);

}



nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 2%;
  top: 0;
  z-index: 10;
  background-color: var(--primary-light);

}

.nav_first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1%;


}

.nav_first ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  gap: 90px;
  list-style: none;
  text-decoration: none;
}

.nav_first ul li a {
  color: black;
  text-decoration: none;
}

.brandname img {
  width: 150px;
  height: 150px;
  margin-right: 8px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15%;
  margin: 2%;
}

.icons ul {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 30%;
}

.icons ul li {
  list-style: none;
}

.icons button {
  margin: 2%;
  padding: 1%;
  border: none;
  background-color: transparent;
}




/* Icons */
.icons ul {
  display: flex;
  gap: 55px;
}

/* Hamburger Button (Hidden on Desktop) */
.menu-toggle {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  align-self: self-end;
}

@media (max-width: 768px) {
  nav {
    display: flex;
    align-items: center;
    height: 10%;

  }

  .menu-toggle {
    display: block;
  }

  /* nav responcev */
  .nav_first {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    background: var(--primary-soft);
    padding: 20px 0;
    display: none;
    /* HIDDEN by default */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid;
  }

  .icons {
    border: 2px solid;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background: var(--primary-soft);
    padding: 20px 0;
    display: none;
    /* HIDDEN by default */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .nav_first ul {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  /* .icons ul {
        display: none; /* Mobile me hide karna ho to */


  /* Menu Active Class */
  .nav_first.active {
    display: block;
  }



}

/* --------------------------------------------------
   HERO SECTION (TOP BANNER)
-------------------------------------------------- */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  top: 10%;
  background-color: var(--background);
}

.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
  width: 100%;
  background-size: cover;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: var(--shadow);
}


@media (min-width: 768px) {
  .top {
    height: 70vh;
  }
}


/* Banner Image */
.main-img img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;


}

.main-img {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-img::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 23, 17, 0.301);
}

/* Text on Hero */
.text-overlay {
  position: absolute;
  top: 20%;
  text-align: center;
  width: 90%;
  color: white;
  font-size: 26px;
  font-weight: 700;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.category {
  display: flex;
  justify-content: center;
  padding: 20px 5%;
  gap: 20px;
  margin-bottom: 25px;
}

.category button {
  padding: 12px 24px;
  border-radius: 50px;
  background-color: var(--primary);
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.category button:hover {
  background-color: var(--primary-light);
}

.theme-bubble {
  animation: bubble 0.4s ease;
}

@keyframes bubble {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}

#all-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 5%;
}

.p-heding {
  color: var(--primary);
  background: var(--surface);
  padding: 15px;
  box-shadow: var(--shadow);
  border-radius: 20px;
  width: 50%;
  font-size: 25px;
  text-align: center;
}

#Trending-pro {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 25px;

}


#Most-selled {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 25px;
}



.card {
  background: var(--surface);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;
  transition: 0.25s;
  cursor: pointer;

  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 15PX;
  height: 200px;
  transition: 0.3s;
}




.card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.card-body {
  padding: 15px;
  text-align: center;
}

.title {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 4px;
}

.price {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary);
}

.card h1 {
  font-size: 12px;
  font-weight: 20000;
  color: var(--primary-light);
}

.description {
  font-size: 12px;
  color: var(--text-muted);
}

.Top button {
  position: sticky;
  left: 15px;
  bottom: 25px;
  background-color: var(--background);
  padding: 10px;
  border: none;
  border-radius: 15px;
  box-shadow: var(--shadow);


}




.Top {
  color: var(--primary);
  text-decoration: none;
}










footer {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2%;
  color: white;
  background-color: var(--primary-light);
}

.ftr-first {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2%;
}



@media (min-width: 768px) {
  .ftr-first {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }

  .contact {
    text-align: start;
  }

  .loction {
    text-align: end;

  }

}